
.about-container {
    width: 70%;
    margin: 30px auto;
    display: flex;
    padding: 2rem;
    text-align: center;

        .profile-section {
            img {
                width: 180px;
                height: 180px;
            }

            .social-links {
                word-spacing: .5rem;
                margin-top: 2rem;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }

        .description-section {
            padding: 0 1em;
            h2{
                text-align: start;
            }
            
            p {
                padding: 10px 5px;
                font-size: 1.25rem;
            }
        }
}