
@keyframes moveFromTop {
    0% {
       top: 0;
    }
    100% {
        top: 10px;
    }
}

.error-div {
    width: 30%;
    position: fixed;
    top: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    align-items: center;
    justify-content: space-evenly;
    animation: moveFromTop 0.5s ease-in-out;
    display: none;

        .error-div-close {
            span {
                font-size: 1.5rem;
            }
        }
}

.form-wrapper, .social-platforms-wrapper {
    width: 30%;
    margin: auto auto;
    text-align: center;
}

form, table, input, textarea {
    width: 100%;
    border: none;
    outline: none;
}

form, input, textarea {
    padding: 1em 0;
    line-height: 1.5rem;
}

input, textarea {
    background-color: inherit;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

input::placeholder, textarea::placeholder {
    color: #ffffff;
    letter-spacing: .25ch;
}

input[type='submit']{
    background-color: yellow;
    color: black;
}

@keyframes fontSize {
    from {
        font-size: initial;
    }

    to {
        font-size: 2rem;
    }
}

.social-platforms-wrapper{
    h3 {
        margin: 1em 0;
    }   

    .findme-links-wrapper {
        display: flex;
        justify-content: space-evenly;

        a:hover {
            font-size: 2rem;
            animation: fontSize 0.5s ease-in-out;
        }

        .fiverr-link:hover {
            color: rgb(6, 158, 6);

            div {
                svg{
                    g{
                        path{
                            fill: rgb(6, 158, 6);
                        }
                    }
                }
            }
        }

        .linkedin-link:hover {
            color: steelblue;
        }

        .github-link:hover {
            color: orangered;
        }
    }
}

@media screen and (max-width: 700px){
    .form-wrapper, .social-platforms-wrapper {
        width: 80%;
        margin: 1em auto;
    }
}