@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(-27rem) scale(0.9);
            transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(-27rem) scale(0.9);
            transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-wrapper {
  padding: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-wrapper .project-div-holder .projects-holder {
  display: none;
  width: 80%;
  margin: auto auto;
}

.project-wrapper .project-div-holder .projects-holder .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 1rem 5rem 1rem;
}

.project-wrapper .project-div-holder .projects-holder .project .project-preview img {
  width: 600px;
  height: 400px;
}

.project-wrapper .project-div-holder .projects-holder .project .project-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 2em;
  text-align: left;
}

.project-wrapper .project-div-holder .projects-holder .project .project-description div h2 {
  margin-bottom: 1em;
}

.project-wrapper .project-div-holder .projects-holder .project .project-description div p {
  text-align: justify;
}

.project-wrapper .project-div-holder .projects-holder .project .project-description .project-links-holder a {
  font-size: 1rem;
  padding: 0;
  padding-right: 1em;
}

.project-wrapper .project-div-holder .projects-holder .project .project-description .project-links-holder a:hover {
  color: yellow;
}

.project-wrapper .project-div-holder .projects-holder .project:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project-wrapper .project-div-holder .active-projects-holder {
  display: block;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.project-wrapper .project-div-holder .inactive-projects-holder {
  -webkit-animation: moveRight 1s ease-in-out;
          animation: moveRight 1s ease-in-out;
}

.project-wrapper .stepper-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

.project-wrapper .stepper-holder .stepper {
  background-color: #ffffff11;
  padding: 1em;
  color: yellow;
  cursor: pointer;
  border: 2px solid yellow;
  border-radius: 50px;
}

.project-wrapper .stepper-holder .active-stepper {
  width: 100px;
}

.project-wrapper .stepper-holder .active-stepper, .project-wrapper .stepper-holder .stepper:hover {
  background-color: rgba(131, 131, 131, 0.568);
}

.project-wrapper .stepper-holder .stepper-connector {
  background-color: #ffffff11;
  height: 5px;
  width: 60px;
  border-left: none;
  border-right: none;
}

.project-wrapper .stepper-holder .active-stepper-connector {
  background-color: yellow;
}

@media screen and (max-width: 700px) {
  .project-wrapper .project-div-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-wrapper .project-div-holder .projects-holder {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .project-wrapper .project-div-holder .projects-holder .project {
    width: 100%;
    margin: 1em 0 2.5em 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-wrapper .project-div-holder .projects-holder .project .project-preview img {
    width: 100%;
    height: 200px;
  }
  .project-wrapper .project-div-holder .projects-holder .project .project-description {
    padding: 0;
  }
  .project-wrapper .project-div-holder .projects-holder .project .project-description div p {
    margin-bottom: 1em;
  }
  .project-wrapper .project-div-holder .projects-holder .project .project-description .project-links-holder a {
    color: yellow;
  }
  .project-wrapper .project-div-holder .projects-holder .project:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-wrapper .stepper-holder {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=project-style.css.map */