@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(-27rem) scale(0.9);
            transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(-27rem) scale(0.9);
            transform: translateX(-27rem) scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0rem) scale(1);
            transform: translateX(0rem) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.project-wrapper {
  padding: 30px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-wrapper .project-div-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.project-wrapper .project-div-holder .projects-holder {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-wrapper .project-div-holder .projects-holder .project {
  width: 200px;
  height: 300px;
  border: 1px solid yellow;
  border-radius: 10px;
  margin: 0 1rem 1rem 1rem;
}

.project-wrapper .project-div-holder .active-projects-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.project-wrapper .project-div-holder .inactive-projects-holder {
  -webkit-animation: moveRight 1s ease-in-out;
          animation: moveRight 1s ease-in-out;
}

.project-wrapper .stepper-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0;
}

.project-wrapper .stepper-holder .stepper {
  background-color: #ffffff11;
  padding: 1em;
  color: yellow;
  cursor: pointer;
  border: 2px solid yellow;
  border-radius: 50px;
}

.project-wrapper .stepper-holder .active-stepper {
  width: 100px;
}

.project-wrapper .stepper-holder .active-stepper, .project-wrapper .stepper-holder .stepper:hover {
  background-color: rgba(131, 131, 131, 0.568);
}

.project-wrapper .stepper-holder .stepper-connector {
  background-color: #ffffff11;
  height: 5px;
  width: 60px;
  border-left: none;
  border-right: none;
}

.project-wrapper .stepper-holder .active-stepper-connector {
  background-color: yellow;
}

@media screen and (max-width: 700px) {
  .project-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project-wrapper .project-div-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-wrapper .project-div-holder .projects-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .project-wrapper .stepper-holder {
    position: fixed;
    top: 50%;
    right: 2em;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: 50%;
  }
  .project-wrapper .stepper-holder .stepper {
    margin: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .project-wrapper .stepper-holder .stepper-connector {
    display: none;
  }
}
/*# sourceMappingURL=project-style.css.map */