
@keyframes moveRight {
    0% {
      transform: translateX(-27rem) scale(0.9);
      opacity: 0;
    }
    100% {
      transform: translateX(0rem) scale(1);
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.project-wrapper {
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;

        .project-div-holder {

            .projects-holder {
                display: none;
                width: 80%;
                margin: auto auto;
    
                .project {
                    display: flex;
                    margin: 1rem 1rem 5rem 1rem;

                        .project-preview {
                            img {
                                width: 600px;
                                height: 350px;
                                border-radius: 10px;
                                box-shadow: black 2px 5px 10px;
                            }
                        }

                        .project-description {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            padding: 0 2em;
                            text-align: left;

                                div {
                                    h2 {
                                        margin-bottom: 1em;
                                    }
    
                                    p {
                                        text-align: justify;
                                    }
                                }

                                .project-links-holder {
                                    a {
                                        font-size: 1rem;
                                        padding: 0;
                                        padding-right: 1em;
                                    }
    
                                    a:hover {
                                        color: yellow;
                                    }
                                }
                        }
                }

                .project:nth-child(even) {
                    flex-direction: row-reverse;
                }
            }

            .active-projects-holder {
                display: block;
                animation: fadeIn 1s ease-in-out;
            }

            .inactive-projects-holder {
                animation: moveRight 1s ease-in-out;
            }
        }

        .stepper-holder{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1em 0;

            .stepper {
                background-color: #ffffff11;
                padding: 1em;
                // margin: 0 1rem;
                color: yellow;
                cursor: pointer;
                border: 2px solid yellow;
                border-radius: 50px;
            }

            .active-stepper {
                width: 100px;
            }

            .active-stepper, .stepper:hover {
                background-color: rgba(131, 131, 131, 0.568);
            }

            .stepper-connector {
                background-color: #ffffff11;
                height: 5px;
                width: 60px;
                border-left: none;
                border-right: none;
            }

            .active-stepper-connector {
                background-color: yellow;
            }
        }
}

@media screen and (max-width: 700px) {
    .project-wrapper {

            .project-div-holder{
                flex-direction: column;

                    .projects-holder{
                        width: 100%;
                        flex-direction: column;
                        margin: 0;
                        padding: 0;

                            .project {
                                width: 100%;
                                margin: 1em 0 2.5em 0;
                                flex-direction: column;

                                    .project-preview {
                                        img {
                                            width: 100%;
                                            height: 200px;
                                        }
                                    }

                                    .project-description {
                                        padding: 0;

                                            div {
                                                p {
                                                    margin-bottom: 1em;
                                                }
                                            }

                                            .project-links-holder {
                                                a {
                                                    color: yellow;
                                                }
                                            }
                                    }
                            }

                            .project:nth-child(even){
                                flex-direction: column;
                            }
                    }
            }

            .stepper-holder {
                justify-content: space-between;

                    .stepper {
                        font-size: .75rem;
                    }
                    // .stepper-connector {
                    //     display: none;
                    // }
            }
    }
}